---
import HeaderLink from './HeaderLink.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
---

<header>
	<h1 class="site_title">
		{SITE_TITLE}
	</h1>
	<p class="site_subtitle">
		{SITE_DESCRIPTION}
	</p>
	<nav>
		<HeaderLink href="/liveli/">Home</HeaderLink>
		<!-- <HeaderLink href="/posts">Posts</HeaderLink> -->
		<!-- <HeaderLink href="/about">About</HeaderLink> -->
		<HeaderLink href="https://twitter.com/i/user/1503204511527038977" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://indieweb.social/@permafriday" target="_blank">Mastodon</HeaderLink>
		<HeaderLink href="https://elijahcommits.github.io" target="_blank">More</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	.site_title {
		display: inline;
	}
	@media screen and (min-width: 600px) {
		.site_subtitle {
			display: inline;
		}
	}
	@media screen and (max-width: 600px) {
		.site_subtitle {
			margin-top: 0;
			margin-bottom: 0.5em;
		}
</style>
